@import "../shared/texts.scss";
@import "../shared/variables.scss";

.main-image-container {
  width: 100%;
  position: relative;
  margin-bottom: 15px;

  .main-image {
    display: block;
    width: 100%;
  }

  &::before {
    content: "Adopta";
    @include title(3.4rem, white);
    @include titleSection(70%, 100%);
  }
}

.title {
  text-align: center;
  @include title(2.3rem, $colorRed);
}

.information-container {
  padding: 10px 15px;

  .subtitle {
    text-align: center;
    margin-bottom: 10px;
    @include text(1.2rem, black, 500);
  }

  .text {
    text-align: center;
    margin-bottom: 10px;
    @include text(1rem, black, 400);
  }

  .image-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .secondary-image {
      width: 18rem;
    }
  }
}

.dogs-container {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  padding: 7px;
  justify-content: center;

  div {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    position: relative;
    border-radius: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p {
      width: 100%;
      bottom: 0px;
      height: 25%;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      background-color: $colorRed;
      @include title(1.5rem, white);
    }
  }
}

@media only screen and (min-width: 1280px) {
  .main-image-container {
    margin-bottom: 20px;

    &::before {
      content: "Adopta";
      @include title(10rem, white);
    }
  }

  .title {
    @include title(4rem, $colorRed);
  }

  .information-container {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .text-container {
      width: 50%;

      .subtitle {
        @include text(2rem, black, 500);
      }

      .text {
        word-spacing: 10px;
        letter-spacing: 1px;
        @include text(1.7rem, black, 400);
      }
    }

    .image-container {
      width: 31rem;
      padding: 0px 0px;

      .secondary-image {
        width: 100%;
      }
    }
  }

  .dogs-container {
    gap: 20px;
    margin-bottom: 35px;
    padding: 20px;

    div {
      width: 20rem;
      height: 20rem;

      p {
        @include title(2.9rem, white);
        transition: height 0.7s;
      }

      &:hover {
        cursor: pointer;
      }

      &:hover p {
        height: 100%;
        transition: height 0.7s;
      }
    }
  }
}
