<main>
  <div [hidden]="loading">
    <div class="loader-animation">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div [hidden]="!loading">
    <div class="main-image-container">
      <img
        class="main-image"
        src="../../../assets/images/Adopt/Main.jpg"
        alt="imagen principal"
      />
    </div>
  
    <h1 class="title">¿Quieres Adoptar?</h1>
  
    <section class="information-container">
      <div class="text-container">
        <h2 class="subtitle">¡Estamos listos para llenarte de amor!</h2>
        <p class="text">
          ¡Recuerda que adoptar es una decisión muy importante es para siempre!
          vas a darle una segunda oportunidad a un ser que ya ha sufrido, hermos
          llego hasta aquí para transformar ese pasado en amor, cuidados,
          responsabilidad y felicidad.
        </p>
        <h2 class="subtitle">Revisa:</h2>
        <p class="text">
          Tu tiempo. <br />
          Tu familia. <br />
          Tu compromiso y responsabiliad. <br />
          Tu economia.
        </p>
        <p class="text">
          ¡Tú vida ya no será la misma, será mejor, será más feliz!
        </p>
      </div>
      <div class="image-container">
        <img
          class="secondary-image"
          src="../../../assets/images/Adopt/Secondary.jpg"
          alt="imagen secundaria"
        />
      </div>
    </section>
  
    <section class="dogs-container">
      <div>
        <img src="../../assets/images/Adopt/example.jpg" alt="" />
        <p>Samy</p>
      </div>
      <div>
        <img src="../../assets/images/Adopt/example.jpg" alt="" />
        <p>Negro</p>
      </div>
      <div>
        <img src="../../assets/images/Adopt/example.jpg" alt="" />
        <p>Blue</p>
      </div>
      <div>
        <img src="../../assets/images/Adopt/example.jpg" alt="" />
        <p>Atenea</p>
      </div>
    </section>
  </div>
</main>
