<main>
  <div class="main-image-container">
    <img
      class="main-image"
      src="../../../assets/images/Adopt/Main.jpg"
      alt="imagen principal"
    />
  </div>
  <h1 class="title">¿Quieres Adoptar?</h1>
  <section class="information-container">
    <h2 class="subtitle">¡Estos chicos están listos para tener un hogar!</h2>
    <p class="text">
      Pero recuerda, un perro es una gran responsabilidad, no es algo que se
      adopta hoy y se bota mañana como basura.
    </p>
    <div class="image-container">
      <img
        class="secondary-image"
        src="../../../assets/images/Adopt/Secondary.jpg"
        alt="imagen secundaria"
      />
    </div>
  </section>
  <section class="dogs-container">
    <div>
      <img src="../../assets/images/Adopt/example.jpg" alt="">
      <p>Samy</p>
    </div>
    <div>
      <img src="../../assets/images/Adopt/example.jpg" alt="">
      <p>Negro</p>
    </div>
    <div>
      <img src="../../assets/images/Adopt/example.jpg" alt="">
      <p>Blue</p>
    </div>
    <div>
      <img src="../../assets/images/Adopt/example.jpg" alt="">
      <p>Atenea</p>
    </div>
  </section>
</main>
