@mixin before($color: black, $height) {
    bottom: 0;
    width: 100%;
    display: flex;
    height: $height;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: $color;
}