@import "../shared/texts.scss";
@import "../shared/variables.scss";

.main-image-container {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 15px;
  justify-content: center;

  .main-image {
    display: block;
    width: 100%;
  }

  &::before {
    content: "Contacto";
    @include titleSection(70%, 100%);
    @include title(2.6rem, white);
  }
}

.title {
  text-align: center;
  @include title(2.5rem, $colorRed);
}

.information {
  padding: 5px 15px;
  text-align: center;
  margin-bottom: 15px;
  @include text(1.1rem, black, 400);
}

.form-container {
  margin-bottom: 20px;

  .form-image {
    display: none;
  }

  .form {
    display: flex;
    justify-content: center;

    form {
      width: 80%;
      padding: 35px 25px;
      border-radius: 10px;
      background-color: $colorRosewood;

      label {
        margin-bottom: 5px;
        display: inline-block;
        @include text(1.3rem, white, 500);
      }

      input,
      textarea {
        width: 100%;
        border: none;
        padding: 10px;
        outline: none;
        border-radius: 5px;
        margin-bottom: 20px;
        font-family: "Raleway", sans-serif;
      }

      textarea {
        height: 30vw;
        resize: none;
      }

      button {
        background-color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        @include text(1.3rem, $colorRosewood, 500);
      }
    }
  }
}

.icons-container {
  gap: 10px;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  flex-direction: column;

  .facebook,
  .instagram,
  .whatsapp {
    gap: 10px;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
    }

    p {
      @include title(1.3rem, black, 500);
    }
  }
}

@media only screen and (min-width: 1280px) {
  .main-image-container {
    margin-bottom: 20px;

    &::before {
      @include title(10rem, white);
    }
  }

  .title {
    @include title(4rem, $colorRed);
  }

  .information {
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
    @include text(1.7rem, black, 400);
  }

  .form-container {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    display: flex;

    .form-image {
      height: 45rem;
      display: inline;
    }

    .form {
      display: flex;
      justify-content: center;
      width: 45rem;
      padding: 20px;

      form {
        border-radius: 15px;
        padding: 45px;
        

        label {
          margin-bottom: 10px;
          @include text(1.8rem, white, 500);
        }

        input,
        textarea {
          width: 100%;
          padding: 15px 20px;
          border-radius: 7px;
          margin-bottom: 25px;
          @include text(1.5rem, black, 500);
        }

        textarea {
          height: 10vw;
          resize: none;
        }

        button {
          padding: 15px 20px;
          border-radius: 7px;
          @include text(1.7rem, $colorRosewood, 500);

          &:hover {
            color: rgb(253, 139, 114);
            cursor: pointer;
          }
        }
      }
    }
  }

  .icons-container {
    gap: 50px;
    margin-bottom: 20px;
    flex-direction: row;

    .facebook,
    .instagram,
    .whatsapp {
      gap: 10px;
      height: 4rem;

      p {
        @include title(1.7rem, black, 500);
      }
    }
  }
}
