<main>
  <div class="main-image-container">
    <img
      class="main-image"
      src="../../assets/images/Help-Us/Main.jpg"
      alt="imagen principal"
    />
  </div>
  <h1 class="title">¿Quieres Ayudarnos?</h1>
  <h3 class="subtitle">¡Hay muchas formas en las que puedes ayudarnos!</h3>

  <h2>Donando</h2>
  <section class="information-1">
    <p>
      Puedes donar multiples cosas como comida, medicamentos requeridos en caso
      tal de que algún peludo esté enfermo, cobijas, dinero, en fin, cosas
      varias que pueden contribuir en el bienestar de los chicos que se
      encuentran en nuestro cuidado.
    </p>
    <div class="image">
      <img src="../../assets/images/Help-Us/Donacion.jpg" alt="Donacion" />
    </div>
  </section>

  <h2>Comprando a nuestros aliados</h2>
  <section class="information-2">
    <p>
      Puedes comprar a nuestros aliados ya que un porcentaje de sus ganancias
      será destinado a ayudar a nuestros chicos.
    </p>
    <div class="image">
      <img
        src="../../assets/images/Help-Us/Compra.jpg"
        alt="Compra a aliados"
      />
    </div>
  </section>

  <h2>Brindando Hogares de paso</h2>
  <section class="information-1">
    <p>
      Si tienes espacio en tu hogar para tener a uno de nuestros chicos mientras
      encontramos un hogar definitivo puedes ayudarnos cuidando de él en tu
      hogar.
    </p>
    <div class="image">
      <img
        src="../../assets/images/Help-Us/Hogar-de-paso.jpg"
        alt="Hogar de paso"
      />
    </div>
  </section>

  <h2>Participando en nuestras actividades</h2>
  <section class="information-2">
    <p>
      Constatemente estamos haciendo actividades tales como rifas, ventas de
      tortas, ventas de velas, etc; para recaudar fondos para las necesidades de
      los chicos, si puedes, ayudarias participando en alguna de estás
      actividades.
    </p>
    <div class="image">
      <img
        src="../../assets/images/Help-Us/Actividades.jpg"
        alt="Participacion de actividades"
      />
    </div>
  </section>

  <h2>Apadrinando un peludo</h2>
  <section class="information-1">
    <p>
      ¡Entre las formas en las que puedes ayudar a nuestros chicos es uniendote
      al plan padrino! El plan padrino consta de que mensualmente te comprometes
      a dar una cantidad de dinero (la que quieras) en pro del peludo que
      apadrines para sus cosas tales como comida y medicamentos si lo requiere
      el mismo.
    </p>
    <div class="image">
      <img src="../../assets/images/Help-Us/Apadrinar.jpg" alt="Apadrinando" />
    </div>
  </section>

  <h2>Voz a Voz</h2>
  <section class="information-2">
    <p>
      ¡Puedes hablarle de nosotros a tus conocidos! Si compartes nuestras redes
      sociales, si hablas de nosotros con tu papá, tu tio, tu hermano, el amigo
      del amigo, nos empezaran a conocer más personas y podremos crecer. el
      mismo.
    </p>
    <div class="image">
      <img src="../../assets/images/Help-Us/vozavoz.jpg" alt="Voz a voz" />
    </div>
  </section>

  <h2>Adoptando</h2>
  <section class="information-1">
    <p>
      Adoptar no es facil porque no siempre tenemos los recursos, el tiempo o la
      disposición de tener una responsabilidad tan grande como lo es tener una
      mascota, pero si puedes adoptar y asumir de manera responsable el cuidado
      de uno de nuestros chicos nos ayudas a que a futuro podamos ayudar a más
      chicos ya que los recursos que destinabamos para la manutención del perro
      adoptado puedan ser destinados a ayudar a más perros.
    </p>
  </section>

  <div class="image-adoptando">
    <img src="../../assets/images/Help-Us/Adopcion.jpg" alt="Voz a voz" />
  </div>
</main>
