.page-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.active {
  position: fixed;
}

@media only screen and (min-width: 1280px) {
  .app-navbar {
    height: 10%;
    margin-bottom: 5px;
  }
}