.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  flex-direction: row-reverse;

  .navbar-logo {
    width: 25%;
    height: 100%;
  }

  .navbar-menu {
    list-style: none;
  }
}
