<div class="page-container">
  <nav class="navbar">
    <img class="navbar-logo" src="../assets/images/Logo.jpg" alt="Logotipo Huellas de Amor">
    <ul class="navbar-menu">
      <li routerLink="">Inicio</li>
      <li routerLink="adopta">Adopta</li>
      <li routerLink="alianzas">Alianzas</li>
      <li routerLink="ayudanos">Ayudanos</li>
      <li routerLink="contacto">Contacto</li>
    </ul>
  </nav>
  <main>
  <router-outlet></router-outlet>
  </main>
  <footer>
    <p>Huellas de amor</p>
    <span>Ilustraciones tomadas de freepik</span>
    <div class="icons-container">
      <a href="https://www.facebook.com/huellasdeamo/"><img src="../assets/images/facebook-icon.svg" alt="icon facebook"></a>
      <a href="https://www.instagram.com/_huellas_de_amor/"><img src="../assets/images/instagram-icon.svg" alt="icon instagram"></a>
      <a href="https://api.whatsapp.com/send?phone=573122653000&text=Hola!%20Vengo%20de%20la%20p%C3%A1gina%20de%20huellas%20de%20amor%20y%20quisiera%20informaci%C3%B3n%20sobre..."><img src="../assets/images/whatsapp-icon.svg" alt="icon whatsapps"></a>
    </div>
  </footer>
</div>