<img
  class="main-image"
  src="../../../assets/images/Homepage/Main.jpg"
  alt="imagen principal"
/>
<h1 class="title">Huellas de amor</h1>
<section class="information-container">
  <p class="text">
    Somos grupo de rescate animal sin animo de lucro, ayudamos animales en
    situaciones vulnerables, rescatamos, brindamos tratamientos médicos,
    rehabilitamos no solo su parte fisica, si no emocional, reubicandolos en
    hogares de paso, integrandolos a una vida familiar mientras se esterilizan y
    se entregan en adopción.
  </p>
  <div class="image-container">
    <img
      class="secondary-image"
      src="../../../assets/images/Homepage/Secondary.jpg"
      alt="imagen secundaria"
    />
  </div>
</section>
<section class="cards-container">
  <div routerLink="adopta" class="card-adopts card">
    <img src="../../../assets/images/Homepage/Adopta.jpg" alt="" />
  </div>
  <div routerLink="alianzas" class="card-alliances card">
    <img src="../../../assets/images/Homepage/Alianzas.jpg" alt="" />
  </div>
  <div routerLink="ayudanos" class="card-help-us card">
    <img src="../../../assets/images/Homepage/Ayudanos.jpg" alt="" />
  </div>
  <div routerLink="contacto" class="card-contact card">
    <img src="../../../assets/images/Homepage/Contacto.jpg" alt="" />
  </div>
</section>
