@import "../shared/texts.scss";
@import "../shared/cards.scss";
@import "../shared/variables.scss";

.main-image {
  width: 100%;
  margin-bottom: 10px;
}

.title {
  text-align: center;
  @include title(2.3rem, $colorRed);
}

.information-container {
  padding: 10px 15px;

  .text {
    @include text(1rem);
    text-align: center;
    margin-bottom: 3px;
  }

  .image-container {
    display: flex;
    justify-content: center;

    .secondary-image {
      width: 80%;
    }
  }
}

.cards-container {
  gap: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  justify-content: center;

  .card {
    width: 10rem;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 15px;

    img {
      width: 100%;
    }

    &::before {
      @include title(1.5rem, white);
      @include beforeMobile($colorRed);
    }
  }

  .card-adopts::before {
    content: "Adopta";
  }
  .card-alliances::before {
    content: "Alianzas";
  }
  .card-help-us::before {
    content: "Ayudanos";
  }
  .card-contact::before {
    content: "Contacto";
  }
}

@media only screen and (min-width: 1280px) {
  .main-image {
    margin-bottom: 20px;
  }

  .title {
    @include title(4rem, $colorRed);
  }

  .information-container {
    display: flex;
    padding: 0px 40px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;

    .text {
      width: 50%;
      padding: 0px 20px;
      margin-bottom: 0px;
      word-spacing: 10px;
      letter-spacing: 2px;
      @include text(1.7rem);
    }

    .image-container {
      width: 35rem;
      padding: 0px 30px;

      .secondary-image {
        width: 100%;
      }
    }
  }

  .cards-container {
    gap: 30px;
    width: 100%;
    margin-bottom: 50px;


    .card {
      width: 19rem;
      position: relative;
      border-radius: 20px;

      img {
        width: 100%;
      }

      &::before {
        transition: height 0.7s;
        @include title(2.9rem, white);
        @include beforeDesktop($colorRed);
      }

      &:hover {
        cursor: pointer;
      }

      &:hover::before {
      height: 100%;
      transition: height 0.7s;
      }
    }
  }
}
